# Environment (JANGAN upload ke GitHub)
.env

# Cache & session
writable/cache/*
!writable/cache/index.html
writable/session/*
!writable/session/index.html
writable/logs/*
!writable/logs/index.html
writable/debugbar/*
!writable/debugbar/index.html
writable/uploads/*

# Upload user (foto kamar, bukti bayar)
public/uploads/*
!public/uploads/index.html

# Dependencies (bisa di-install ulang via composer)
# vendor/  

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# SQL backup
*.sql
